<div class="row">
    <div class="col-12 text-center">
        <div class="btn-group">
            <button type="button" (click)="changeTab('Roles')" class="btn" [ngClass]="currentPage == 'Roles' ? 'btn-success':'btn-primary'">Roles</button>
            <button type="button" (click)="changeTab('Manage')" class="btn" [ngClass]="currentPage == 'Manage' ? 'btn-success': 'btn-primary'">Manage</button>
            
          </div>
    </div>
</div>


<div class="row">
    <div class="col-12" *ngIf="currentPage =='Roles'" >
        
<app-roles></app-roles>

    </div>
    <div class="col-12" *ngIf="currentPage == 'Manage'">

    </div>
    <app-manage></app-manage>
</div>
